* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: black;
}


.logo {
    border: 0px solid rgba(9, 4, 9, 0.937);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    margin-right: auto;
    height: 90px;

}

nav {
    margin: 0px;
    background-color: black;
    display: flex;
}

li {

    text-align: center;
    padding: 2px 10px;
    background-color: gold;
    margin:11px;
    border-radius: 10px;
    padding-top: 6px;
}

ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
    

}

.mid {
    background-color: black;
    height: 200px;
    padding-top: 60px;
}

h1 {


    margin: auto;
    color: #8e8989f4;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    left:30%;
    
}

h1 span {
    font-size: 40px;
    margin-left: 40px;
}

.message {
    background-color: gold;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    top: 0.2rem;
    left: 340px;
    animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }

    5% {
        width: 0;
    }

    15% {
        width: 230px;
    }

    30% {
        top: 0.2rem;
        width: 230px;
    }

    33% {
        top: 0.2rem;
        width: 0;
    }

    35% {
        top: 0.2rem;
        width: 0;
    }

    38% {
        top: -4.5rem;

    }

    48% {
        top: -4.5rem;
        width: 230px;
    }

    62% {
        top: -4.5rem;
        width: 230px;
    }

    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }

    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    86% {
        top: -9rem;
        width: 320px;
    }

    95% {
        top: -9rem;
        width: 320px;
    }

    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

.crd {
    display: flex;
    justify-content: center;
    padding: 30px;
    animation: cardanimation 1s;
    position: relative;

} 

#card1 {
    background-color:black;
    animation: card1anim 1s;
    position: relative;
    margin: 40px;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
#card2 {      
    background-color: black;
    animation: card2anim 1s;
    position: relative;
    margin: 40px;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

}
#card3 {          
    background-color: black;
    animation: card3anim 1s ;
    animation-timing-function: ease-out;
    position: relative;
    margin: 40px;
    animation-fill-mode: both;
}
@keyframes card1anim{
    0%{top:0px;}
    25%{top:15px;}
    50%{top:30px;}
    75%{top:45px;}
    100%{top:50px;}
}
@keyframes card2anim{
    0%{top:0px;}
    25%{top:50px;}
    50%{top:75px;}
    75%{top:120px;}
    100%{top:175px;}
}
@keyframes card3anim{
    0%{top:0px;}
    25%{top:50px;}
    35%{top:75px;}
    50%{top:100px;}
    60%{top:125px;}
    70%{top:150px;}
    85%{top:200px;}
    90%{top:250px;}
    100%{top:300px;}
}




.logo:hover + .intro{
    
    display: block;
}
.intro{
    display: none;
    width:300px;
    height:200px;
    background-image: url("pic.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
    animation: introanimate 3s ease-out;
    position: relative;
    z-index: 1;
}


@keyframes introanimate{
    0%{width:0px;}
    .5%{width:250px;}
    100%{width:300px;}
}


.card-body {
position :relative;
z-index: 1;
border: 1px solid white;

width: 300px;
height: 300px;
margin: auto;
overflow: hidden;
}



.card-text{
position :relative;
top: -3px;
z-index: 2;
border-bottom: 2px solid white;
border-top: 2px solid white;
background-color: green;
width: auto;
height: 0%;
margin: auto;
transition: height 500ms;
}



.flip-card {
background-color: transparent;
width: 350px;
height: 500px;
perspective: 1000px;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
background-color: gold;
color: black;
}

.flip-card-back {
background-color: rgba(128, 128, 128, 0.387);
color: white;
transform: rotateY(180deg);
}
#overlay {
position: fixed;
display: none;
width: 10%;
height: 10%;
top: 50%;
z-index: 2;
cursor: pointer;
}

#text {
position: absolute;
padding: 20px;
font-size: 15px;
background: gold;
color: gray;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
border: 3px solid rgba(128, 128, 128, 0.522);
}
@media screen and (max-width:900px){
    .crd{
        display:block;
        padding-left: 0px;
        
        
    }

    h1{
        left:0%;
    
    }
    .message{
        font-size: 10px;

    }
    
    
}
